@model APPBASE.Models.Transaction_indetailVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["YEAR_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="YEAR_ID">Tahun</label>
                <select id="YEAR_ID" name="YEAR_ID" class="form-control select2" data-placeholder="Select YEAR_ID" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.YEAR)
                    {

                        if (Model.YEAR_ID == item.ID) {<option selected value="@item.ID">@item.YEAR_DESC</option> }
                        else {<option value="@item.ID">@item.YEAR_DESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["YEAR_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("YEAR_ID1")
                    </label>
            }
            @if (ViewData.ModelState["YEAR_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("YEAR_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
@if (ViewData.ModelState["TRN_DT0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
<div class="form-group @vsErrClass form-inline">
    <label for="TRN_DT">Tanggal Transaksi</label>
    <input type="text" id="TRN_DT" name="TRN_DT" value="@Html.DisplayFor(model => model.TRN_DT)" class="form-control" @vsReadonlyTextbox data-inputmask="@vsDateFormat" data-mask />
            
    @if (ViewData.ModelState["TRN_DT1"] != null)
    {
            <label class="control-label" for="inputError">
            <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRN_DT1")
            </label>
    }
    @if (ViewData.ModelState["TRN_DT2"] != null)
    {
            <label class="control-label" for="inputError">
            <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("TRN_DT2")
            </label>
    }
</div> <!-- /.form-group -->

