@model APPBASE.Models.LHStudentVM
@using APPBASE.Helpers

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div style="display:none;">

<br />
FILTER : <input type="text" id="FILTER_ID" name="FILTER_ID" value="@Model.FILTER_ID" />
<br />
FILTER : <input type="text" id="FILTER_ACTION_TYPE" name="FILTER_ACTION_TYPE" value="@Model.FILTER_ACTION_TYPE" />
<br />
FILTER : <input type="text" id="FILTER_SKH_ID" name="FILTER_SKH_ID" value="@Model.FILTER_SKH_ID" />
<br />
FILTER : <input type="text" id="FILTER_SKHSTUDENT_ID" name="FILTER_SKHSTUDENT_ID" value="@Model.FILTER_SKHSTUDENT_ID" />
<br />
FILTER : <input type="text" id="FILTER_BRANCH_ID" name="FILTER_BRANCH_ID" value="@Model.FILTER_BRANCH_ID" />
<br />
FILTER : <input type="text" id="FILTER_DATE" name="FILTER_DATE" value="@Model.FILTER_DATE" />


<br />
Branch : <input type="text" id="BRANCH_ID" name="DETAIL.BRANCH_ID" value="@Model.DETAIL.BRANCH_ID" />
<br />
Tahun Ajaran : <input type="text" id="YEAR_ID" name="DETAIL.YEAR_ID" value="@Model.DETAIL.YEAR_ID" />
<br />
Semester : <input type="text" id="SEMESTER_ID" name="DETAIL.SEMESTER_ID" value="@Model.DETAIL.SEMESTER_ID" />
<br />
kelas ID : <input type="text" id="CLASSTYPE_ID" name="DETAIL.CLASSTYPE_ID" value="@Model.DETAIL.CLASSTYPE_ID" />
<br />
Kelas Name : <input type="text" id="CLASSTYPE_NAME" name="DETAIL.CLASSTYPE_NAME" value="@Model.DETAIL.CLASSTYPE_NAME" />
<br />
Kelompok ID : <input type="text" id="CLASSROOM_ID" name="DETAIL.CLASSROOM_ID" value="@Model.DETAIL.CLASSROOM_ID" />
<br />
Kelompok Name : <input type="text" id="CLASSROOM_NAME" name="DETAIL.CLASSROOM_NAME" value="@Model.DETAIL.CLASSROOM_NAME" />
<br />
Sentra ID : <input type="text" id="SENTRA_ID" name="DETAIL.SENTRA_ID" value="@Model.DETAIL.SENTRA_ID" />
<br />
Sentra Name : <input type="text" id="SENTRA_NAME" name="DETAIL.SENTRA_NAME" value="@Model.DETAIL.SENTRA_NAME" />
<br />
ID SIswa : <input type="text" id="STUDENT_ID" name="DETAIL.STUDENT_ID" value="@Model.DETAIL.STUDENT_ID" />
<br />
ID Employee : <input type="text" id="EMPLOYEE_ID" name="DETAIL.EMPLOYEE_ID" value="@Model.DETAIL.EMPLOYEE_ID" />
<br />

</div>
