@model APPBASE.Models.LHStudentVM
@using APPBASE.Helpers
@using APPBASE.Svcutil

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}


@{
    ViewBag.Title = "Tambah Laporan Harian Siswa";
    Layout = "~/Views/Shared/_Layout2cols.cshtml";
}
@section includeBOTTOM {
    @Scripts.Render("~/bundles/JSInputMask")
}
@section includeTOP {
    <link href="@Url.Content("~/")Content/AdminLTE/css/iCheck/all.css" rel="stylesheet" type="text/css" />
}


@using (Html.BeginForm("Create", "LHStudent", FormMethod.Post))
{

<div class="row">
    <div class="col-sm-12">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user">
            
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua">
              <h3 class="widget-user-username"> Kelas @Model.DETAIL.CLASSTYPE_NAME</h3>
              <h5 class="widget-user-desc">Kelompok @Model.DETAIL.CLASSROOM_NAME</h5>
            </div>
            
            <div class="widget-user-image">
              <img class="img-circle" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Student(Model.DETAIL_STUDENT.STUDENT_IMG)" alt="User Avatar">
            </div>


            <div class="box-footer">
                <div style="text-align:center;"><h3 class="widget-user-username"> @Model.DETAIL.STUDENT_NAME</h3></div>

                @if (ViewData.ModelState["ID0"] != null) {
                <!-- Validation Message -->
                <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-warning"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <b>Perhatian!</b> Data tidak tersimpan
                    <ul>
                        @if (ViewData.ModelState["ID1"] != null)
                        {
                            <li>@Html.ValidationMessage("ID1")</li>
                        }
                    </ul>
                </div>
                }

                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        @{Html.RenderPartial("_InputsHIDDEN");}
                        @{Html.RenderPartial("_Inputs");}
                    </div> <!-- ./col1 -->
                </div> <!-- ./row -->

                <hr />

                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-flat">Simpan Data</button>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div><!-- /.row -->

            </div>
          </div>
          <!-- /.widget-user -->
    </div> <!-- ./col-sm-12 -->
</div> <!-- ./row -->

    
}

<!-- Modal -->
@{Html.RenderPartial("_PartialDialogLookup");}


@section scripts {

<!-- Modal -->
@{Html.RenderPartial("_Events");}

}
