@model APPBASE.Models.LHStudentVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{
    ViewBag.Title = "Daftar Siswa Belum Ada Laporan Harian";
    Layout = "~/Views/Shared/_Layout2cols.cshtml";
}

@{string vsClassBP_STS = "";}


@foreach (var item in Model.LISTITEM_STUDENT)
{
    <div class="box box-solid" style="background-color:#FFFF99;">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->

        <div class="box-body chat">

            <div class="item">
                <img src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Student(item.STUDENT_IMG)" alt="user image" class="online"/>

                <p class="message">
                    <a href="@Url.Action("View","Student")" class="name">
                        @Html.DisplayFor(modelitem=>item.NAME)
                    </a>
                    <span class="text-muted">Kelas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @Html.DisplayFor(modelitem=>item.CLASSTYPE_DESC)</span><br />
                    <span class="text-muted">Kelompok&nbsp;: @Html.DisplayFor(modelitem=>item.CLASSROOM_NAME)</span>
                </p>
            </div><!-- /.item -->
        </div><!-- /.box-body -->

    </div><!-- /.box -->
    
}

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
