@model IEnumerable<APPBASE.Models.LHStudentdetailVM>
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@{
    ViewBag.Title = "Assalamualaikum Ayah dan Bunda";
    Layout = "~/Views/Shared/_Layout2cols.cshtml";
}

@{string vsClassBP_STS = "";}


@foreach (var item in Model)
{
    <div class="box box-solid" style="background-color:#FFFF99;">
        <div class="box-header">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->

        <div class="box-body chat">

            <div class="item">
                <img src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Employee(item.EMPLOYEE_IMG)" alt="user image" class="online"/>

                <p class="message">
                    <a href="#" class="name">
                        @Html.DisplayFor(modelitem=>item.EMPLOYEE_NAME) - @Html.DisplayFor(modelitem=>item.SENTRA_NAME)
                    </a>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> @hlpConvertionAndFormating.ConvertDateToStringDayIDLongFmt(item.LH_DT)</small>
                    <div>@Html.DisplayFor(modelitem=>item.LH_NOTES)</div>
                    <div style="font-weight:bold; font-style:italic;">Mood of the day : @Html.DisplayFor(modelitem=>item.MOOD_DESC)</div>
                    <div style="font-weight:bold; font-style:italic;">Absensi         : @Html.DisplayFor(modelitem=>item.ABSENSI_DESC)</div>
                </p>
            </div><!-- /.item -->
        </div><!-- /.box-body -->

    </div><!-- /.box -->
    
}

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {
        /*=========================================
        INITIALIZE
        =========================================*/
        doSearchAbleTable('#searchValue', '', '.SEARCHABLE_ROWS');

        /*=========================================
        EVENTS
        =========================================*/
    });   //End $(document).ready
</script>

}
