@model APPBASE.Models.LHStudentVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(Model.FILTER_DATE)
<table>
    <thead>
        <tr>
            <th>
                <h3>Laporan Harian Siswa</h3>
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.LISTRPT == null)
        {
            <tr>
                <td></td>
            </tr>
        }
        @if (Model.LISTRPT != null)
        {
            foreach (var item in Model.LISTRPT)
            {
                    
                <tr>
                    <td>
                        <div>
                            <div> Tanggal&nbsp;@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.LH_DT) : @Html.DisplayFor(modelitem => item.ABSENSI_DESC)</div>
                            <div> @Html.DisplayFor(modelitem => item.STUDENT_NAME)
                                  @if(item.CLASSTYPE_NAME!=null) { <span>/ @Html.DisplayFor(modelitem => item.CLASSTYPE_NAME)</span> }
                                  @if(item.CLASSROOM_NAME!=null) { <span>/ @Html.DisplayFor(modelitem => item.CLASSROOM_NAME)</span> }
                            </div>
                            <div style="text-decoration:underline"> Laporan :</div>
                            <div> @item.LH_NOTES</div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
