@model APPBASE.Models.Transaction_indetailVM

@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th>
                <div class="col-sm-1" style="text-align:center;"></div>
                <div class="col-sm-2" style="text-align:center;">Tanggal</div>
                <div class="col-sm-6" style="text-align:center;">Deskripsi</div>
                <div class="col-sm-4" style="text-align:center;">Nominal</div>
            </th>
        </tr>
    </thead>

    <tbody>
        @if (Model.HIST == null)
        {
            <tr>
                <td align="center">Belum ada pembayaran</td>
            </tr>
        } <!-- End if -->

        @if (Model.HIST != null)
        {
            if (Model.HIST.Count <= 0) {
                <tr>
                    <td align="center">Belum ada pembayaran</td>
                </tr>
            }

            foreach (var item in Model.HIST.OrderByDescending(fld => fld.ID).ToList())
            {
                    
                <tr>
                    <td class="SEARCHABLE_ROWS">
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="btn-group-vertical">
                                    <a href="@Url.Action("Edit", "Transaction_inspp", new { id = item.ID })" class="btn btn-flat btn-warning"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Transaction_inspp", new { id = item.ID })" class="btn btn-flat btn-danger"><i class="fa fa-trash"></i></a>
                                    <a href="@Url.Action("Kwitansiprint", "Transaction_inspp", new { id = item.TRN_ID })" class="btn btn-flat btn-default"><i class="fa fa-print"></i></a>
                                </div> <!-- ./btn-group-vertical -->
                            </div>
                            <div class="col-sm-2">@hlpConvertionAndFormating.ConvertDateToStringDateShortFmt(item.TRN_DT)</div>
                            <div class="col-sm-6">@item.TRN_DESC</div>
                            <div class="col-sm-3">Rp. <span class="pull-right">@hlpConvertionAndFormating.ConvertDecimalToStringFmtThousand(item.TRND_AMOUNT)</span></div>
                        </div>
                    </td>
                </tr>
            } <!-- End foreach -->
        } <!-- End if -->
    </tbody>
</table>
