@model APPBASE.Models.StudentVM

@using APPBASE.Helpers
@using APPBASE.Svcbiz
@using APPBASE.Svcutil

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th><input type="text" id="searchValue" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Filter Data"/></th>
        </tr>
    </thead>

    <tbody>
        @if (ViewBag.STUDENT == null)
        {
            <tr>
                <td></td>
                <td align="center">DATA KOSONG</td>
            </tr>
        }
        @if (ViewBag.STUDENT != null)
        {
            foreach (var item in ViewBag.STUDENT)
            {
                    
                <tr>
                    <td class="SEARCHABLE_ROWS">
                        <div style="display:inline-block; vertical-align:top;">
                            <img src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Student(item.STUDENT_IMG)" alt="user image" class="small-circle"/>
                        </div>
                        <div style="display:inline-block;">
                            <div> Kelas&nbsp;&nbsp;&nbsp;&nbsp;: @item.CLASSTYPE_DESC</div>
                            <div> Kelompok&nbsp;: @item.CLASSROOM_NAME</div>
                            <div> Nama&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: @item.NAME</div>
                        </div>
                        
                    </td>
                    <td>
                        <a href="@Url.Action("Create", new { id = item.ID, id2 = Model.FILTER_YEAR_ID })" class="btn btn-flat btn-sm btn-success" style="margin-left:5px; color:White;"><i class="fa fa-plus"></i> Proses Pembayaran</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
