@model APPBASE.Models.SkmVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}


<div class="row">
    @Html.HiddenFor(model => model.FILTER_YEAR_ID, new { id = "FILTER_YEAR_ID" })
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_YEAR_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_YEAR_DESC">Pilih Tahun Ajaran</label>
            <div class="input-group input-group-sm">
                <input type="text" id="FILTER_YEAR_DESC" name="FILTER_YEAR_DESC" value="@Html.DisplayFor(model => model.FILTER_YEAR_DESC)" class="form-control" readonly />
                <span class="input-group-btn">
                    <button type="button" id="cmdLookupFILTER_YEAR_ID" name="cmdLookupFILTER_YEAR_ID" class="btn btn-info btn-flat" data-toggle="modal" data-target="#DialogLookup"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->

            
            @if (ViewData.ModelState["FILTER_YEAR_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_YEAR_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_YEAR_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_YEAR_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    @Html.HiddenFor(model => model.FILTER_SEMESTER_ID, new { id = "FILTER_SEMESTER_ID" })
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_SEMESTER_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_SEMESTER_DESC">Pilih Semester</label>
            <div class="input-group input-group-sm">
                <input type="text" id="FILTER_SEMESTER_DESC" name="FILTER_SEMESTER_DESC" value="@Html.DisplayFor(model => model.FILTER_SEMESTER_DESC)" class="form-control" readonly />
                <span class="input-group-btn">
                    <button type="button" id="cmdLookupFILTER_SEMESTER_ID" name="cmdLookupFILTER_SEMESTER_ID" class="btn btn-info btn-flat" data-toggle="modal" data-target="#DialogLookup"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->

            
            @if (ViewData.ModelState["FILTER_SEMESTER_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_SEMESTER_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_SEMESTER_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_SEMESTER_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    @Html.HiddenFor(model => model.FILTER_CLASSTYPE_ID, new { id = "FILTER_CLASSTYPE_ID" })
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_CLASSTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_CLASSTYPE_DESC">Pilih Kelas</label>
            <div class="input-group input-group-sm">
                <input type="text" id="FILTER_CLASSTYPE_DESC" name="FILTER_CLASSTYPE_DESC" value="@Html.DisplayFor(model => model.FILTER_CLASSTYPE_DESC)" class="form-control" readonly />
                <span class="input-group-btn">
                    <button type="button" id="cmdLookupFILTER_CLASSTYPE_ID" name="cmdLookupFILTER_CLASSTYPE_ID" class="btn btn-info btn-flat" data-toggle="modal" data-target="#DialogLookup"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- /input-group -->

            
            @if (ViewData.ModelState["FILTER_CLASSTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_CLASSTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_CLASSTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_CLASSTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_WEEKNUM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_WEEKNUM">Minggu ke</label>
            <input type="number" id="FILTER_WEEKNUM" name="FILTER_WEEKNUM" value="@Html.DisplayFor(model => model.FILTER_WEEKNUM)" class="form-control data-mask-integer"/>

            @if (ViewData.ModelState["FILTER_WEEKNUM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_WEEKNUM1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_WEEKNUM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_WEEKNUM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_DATEFROM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_DATEFROM">Tanggal</label>
            <input type="text" id="FILTER_DATEFROM" name="FILTER_DATEFROM" value="@Html.DisplayFor(model => model.FILTER_DATEFROM)" class="form-control" data-inputmask="@vsDateFormat" data-mask />

            
            @if (ViewData.ModelState["FILTER_DATEFROM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_DATEFROM1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_DATEFROM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_DATEFROM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
