@model APPBASE.Models.StudentVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        <span class="pull-left">DATA SISWA</span>
        <span class="pull-right"></span>
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Nama</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.NAME
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Nama Panggilan</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.NICKNAME
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Jenis Kelamin</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.SEX_DESC
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Tempat/Tanggal Lahir</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.POB / @hlpConvertionAndFormating.ConvertDateToStringDDMMMYYYYFmt(Model.DETAIL.DOB)
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Alamat</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        <div>@Model.DETAIL.ADDR_STREET1</div>
        <div>@Model.DETAIL.ADDR_STREET2</div>
        <div>@Model.DETAIL.ADDR_CITY @Model.DETAIL.ADDR_ZIP</div>
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">No Telp.</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.HOME_PHONE
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Agama</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.RELIGION_DESC
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Anak ke/dari</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.CHILD_SEQ/@Model.DETAIL.CHILD_QTY anak
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Berat/Tinggi Badan</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.WEIGHT_KG @if (Model.DETAIL.WEIGHT_KG != null) { <span>kg</span>} @if(Model.DETAIL.HEIGHT_CM!=null) {<span>/</span>} @Model.DETAIL.HEIGHT_CM @if (Model.DETAIL.HEIGHT_CM!=null) {<span>cm</span>}
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">Golongan Darah</span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        @Model.DETAIL.BLOOD_TYPE_DESC
    </div> <!-- ./ -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-5">
        <span class="pull-left indent">
            <div>Penyakit yang</div>
            <div>pernah diderita/</div>
            <div>alergi</div>
            <div>penanganan khusus</div>
        </span>
        <span class="pull-right">:</span>
    </div> <!-- ./ -->
    <div class="col-xs-7">
        <div>@Model.DETAIL.MEDICAL_STORY1</div>
        <div>@Model.DETAIL.MEDICAL_STORY2</div>
    </div> <!-- ./ -->
</div><!-- /.row -->
