@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>PENGATURAN</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Aboutus")"><i class="fa fa-angle-double-right"></i> Tentang Kami</a></li>
            <li><a href="@Url.Action("Details", "BranchHQ")"><i class="fa fa-angle-double-right"></i> Pusat</a></li>
            <li><a href="@Url.Action("Index", "Branch")"><i class="fa fa-angle-double-right"></i> Cabang</a></li>
            
            <li><a href="@Url.Action("Index", "Classroom")"><i class="fa fa-angle-double-right"></i> Kelompok</a></li>
            <li><a href="@Url.Action("Index", "Classroomteacher")"><i class="fa fa-angle-double-right"></i> Kelompok Guru</a></li>
            <li><a href="@Url.Action("Index", "Year")"><i class="fa fa-angle-double-right"></i> Tahun Ajaran</a></li>
        </ul>
    </li>


