@using APPBASE.Svcutil

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Good Morning</i></h3>
            Good morning 2x
            <br />   nice to see your smiling face
            <br />   good morning 2x to you and to you
            <br />   hello mommy hello daddy hello children hello friends
            <br />   good morning 2x to you and to you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>I love you</i></h3>
            I love you 
            <br />   you love me
            <br />   we are happy family
            <br />   with a great big hug 
            <br />   and a kiss from me to you
            <br />   would you say you love me too
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Good bye to you</i></h3>
            Good bye to you
            <br />   Good bye to you
            <br />   Good bye dear children
            <br />   Good bye to you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("itsme.png")" class="img-thumbnail" alt="Foto" />
            <div>It's me</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Dua mata saya</i></h3>
            dua mata saya hidung saya satu
            <br />  dua kaki saya pakai sepatu baru
            <br />  dua telinga saya yang kiri dan kanan
            <br />  satu mulut saya tidak berhenti makan
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Finger song</i></h3>
            Where is thumbkin.. Where is thumbkin 
            <br />   here I am..  here I am
            <br />   how are you this morning 
            <br />   very well I thank you
            <br />   run away..   run away
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Mandi Pagi</i></h3>
            mandi ayo mandi
            <br />  ayo lekas mandi
            <br />  pakai sabun wangi
            <br />  tak lupa gosok gigi
            <br />  byur sik sik.. byur sik.. byur sik sik.. byur..
            <br />  byur sik sik.. byur sik.. byur sik sik.. byur..
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Jalan-jalan</i></h3>
            Jalan-jalan… lompat-lompat
            <br />  lari-lari… lari-lari… 
            <br />  lompat-lompat lagi.. lari-lari lagi
            <br />  berhenti.. berhenti..
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("independenceday.png")" class="img-thumbnail" alt="Foto" />
            <div>Independence Day</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Hari merdeka</i></h3>
            tujuh belas agustus tahun empat lima
            <br />   itulah hari kemerdekaan kita
            <br />   hari merdeka nusa dan bangsa
            <br />   hari lahirnya bangsa Indonesia… merdeka!
            <br />   sekali merdeka tetap merdeka 
            <br />   selama hayat masih dikandung badan
            <br />   kita tetap setia tetap setia.. mempertahankan Indonesia
            <br />   kita tetap setia tetap setia.. membela negara kita
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("asyknyaramadhan.png")" class="img-thumbnail" alt="Foto" />
            <div>Asyiknya Ramadhan</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Rukun Islam yang lima</i></h3>
            Rukun Islam yang lima…  syahadat, sholat, puasa
            <br />   zakat untuk si papa…  haji bagi yang kuasa
            <br />   siapa belum sholat… siapa belum puasa
            <br />   karna nanti di akhirat… Allah pasti melaknat
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Menjaga kalbu</i></h3>
            Hati-hati gunakan matamu klip klop
            <br />   hati-hati gunakan mulutmu ssssttt 2x
            <br />   Allah maha mendengar semua perkataanmu
            <br />   hati-hati gunakan kalbumu
            <br />   dag... dig.. dug 2x
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("animal.png")" class="img-thumbnail" alt="Foto" />
            <div>Animal</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Kura-kura</i></h3>
            Ini kura-kura ada dalam cangkang
            <br />   ia sayang rumahnya amatlah sayang
            <br />   kepalanya keluar jika ingin makan 
            <br />   lalu masuk kembali jika ingin tidur
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Lima Anak bebek</i></h3>
            Lima anak bebek pergi berenang
            <br />   naik bukit lalu menghilang
            <br />   induk bebek mencari kwek.. Kwek
            <br />   hilang satu tinggalah empat
            <br />   (... tiga, dua, satu sampai tinggallah induknya)
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Yang ku bisa</i></h3>
            Megal megol seperti bebek
            <br />   lompat seperti kodok
            <br />   terbang seperti burung
            <br />   menggeleser seperti ular
            <br />   lari seperti kuda itu yang ku bisa
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Animal song</i></h3>
            Kucing cat.. anjing dog.. kupu-kupu butterfly
            <br />  ikan fish.. bebek duck.. tikus itu mouse
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("color.png")" class="img-thumbnail" alt="Foto" />
            <div>Color</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Pelangi</i></h3>
            Pelangi pelangi
            <br />  alangkah indahmu
            <br />  merah kuning hijau dilangit yang biru
            <br />  pelukismu agung siapa gerangan
            <br />  Pelangi pelangi ciptaaan Tuhan
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Balonku</i></h3>
            Balonku ada lima 
            <br />  rupa-rupa warnanya
            <br />  hijau, kuning, kelabu 
            <br />  merah muda dan biru
            <br />  meletus balon hijau doorr…
            <br />  hatiku sangat kacau
            <br />  balonku tinggal empat 
            <br />  ku pegang erat-erat
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Rainbow</i></h3>
            Red and yellow and pink and green
            <br />  purple and orange and blue          
            <br />  I can see a rainbow        
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Colour</i></h3>
            merah red kuning yellow 
            <br />biru itu blue blue blue
            <br />jingga orange ungu purple
            <br />coklat itu brown
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("transportation.png")" class="img-thumbnail" alt="Foto" />
            <div>Transportation</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>The Wheels on the bus</i></h3>
            The wheels on the bus go round and round.. Round and round 2x
            <br />  The wheels on the bus go round and round.. All day long
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Becak</i></h3>
            Saya mau tamasya berkliling-kliling kota
            <br />  hendak melihat-lihat keramaian yang ada
            <br />  saya panggilkan becak kereta tak berkuda
            <br />  becak becak !..  tolong bawa saya..
            <br />  saya duduk sendiri sambil mengangkat kaki
            <br />  melihat dengan asyik ke kanan dan ke kiri
            <br />  lihat becakku lari bagaikan tak berhenti
            <br />  becak becak !.. Jalan hati hati…
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Delman</i></h3>
            Pada hari minggu ku turut Ayah ke kota
            <br />  naik delman istimewa ku duduk di muka
            <br />  ku duduk samping pak kusir yang sedang bekerja
            <br />  mengendali kuda supaya baik jalannya
            <br />  hei! Tuk tik tak tik tuk tik tak tik tuk tik tak tik tuk
            <br />  Tuk tik tak tik tuk tik tak suara spatu kuda
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Sepeda</i></h3>
            Kring… kring… kring..
            <br />   ada sepeda..  sepedaku roda dua
            <br />   ku dapat dari ayah.. karena rajin bekerja
            <br />   tuk.. tuk.. Tuk..
            <br />   ada sepatu.. sepatuku kulit lembu
            <br />   ku dapat dari ibu.. karena rajin membantu
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Naik mobil</i></h3>
            naik mobil tin tin 2x roda empat pakai mesin
            <br />keliling keliling kota 2x tidak lupa sekolah
            <br />naik motor brem brem 2x roda dua pakai mesin 
            <br />keliling keliling kota 2x tidak lupa sekolah
            <br />naik kreta gujes 2x roda banyak pakai mesin
            <br />keliling keliling kota 2x tidak lupa sekolah
            <br />naik sepeda kring kring 2x roda dua tak pakai mesin
            <br />keliling keliling kota 2x tidak lupa sekolah
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("number.png")" class="img-thumbnail" alt="Foto" />
            <div>Number</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Little Indian</i></h3>
            One little two little three little indian
            <br />   four little five little six little indian
            <br />   seven little eigth little nine little indian
            <br />   ten little indian boys
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Satu satu</i></h3>
            Satu satu aku sayang ibu
            <br />  dua dua juga sayang ayah
            <br />  tiga tiga sayang adik kakak
            <br />  satu dua tiga sayang semuanya
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Palu</i></h3>
            Ada satu palu palu palu ditambah satu palu menjadi dua
            <br />  Ada dua palu.. palu… palu.. Ditambah satu palu menjadi tiga
            <br />ada tiga palu palu palu ditambah satu palu menjadi empat
            <br />  Ada empat palu.. palu… palu.. Ditambah satu palu menjadi lima
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Number</i></h3>
            satu seperti pensil... Dua seperti bebek
            <br />tiga seperti burung... Empat kursi terbalik
            <br />Lima seperti badut... Enam ular melingkar
            <br />tujuh tongkatnya kakek... Delapan kaca mata
            <br />sembilan meniup balon... Sepuluh pensil dan bola
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("shape.png")" class="img-thumbnail" alt="Foto" />
            <div>Shape</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Shape song</i></h3>
            I am a shape now call my name                                                                        
            <br />  I'm round and round and very plain                                                                   
            <br />  so many things are shape like me                                                                                    
            <br />  like a wheel on a bus and a cake for tea                                                                                                     
            <br />  what is my name?  I am a circle                                                                                          
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Topi saya bundar</i></h3>
            Topi saya bundar..  bundar topi saya
            <br />  kalau tidak bundar..  bukan topi saya
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Shape song</i></h3>
            Lingkaran circle lingkaran circle
            <br />segitiga triangle
            <br />bujur sangkar square bujur sangkar square
            <br />persegi panjang regtangle
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("opposite.png")" class="img-thumbnail" alt="Foto" />
            <div>Opposite</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Up and down</i></h3>
            Up and down and shake.. shake.. shake
            <br />  Up and down and shake.. shake.. shake
            <br />  shake to right and shake to the left                                                                  
            <br />  turn around and shake.. shake.. shake
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Atas bawah</i></h3>
            Atas atas atas
            <br />  bawah bawah bawah
            <br />  Atas atas.. bawah bawah
            <br />  aku tidak lupa
            <br />  * depan belakang dll.
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("plant.png")" class="img-thumbnail" alt="Foto" />
            <div>Plant</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Lihat kebunku</i></h3>
            Lihat kebunku penuh dengan bunga
            <br />  ada yang putih dan ada yang merah
            <br />  setiap hari ku simpan semua
            <br />  mawar melati semuanya indah
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Rain Rain Go Away</i></h3>
            Rain rain go away come again another day
            <br />    Little children want to play
            <br />    rain rain go away
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Fruits</i></h3>
            Pineapple pineapple itu buah nanas
            <br />mango mango itu buah mangga
            <br />orange itu jeruk apple itu apel
            <br />avocado alpukat banana pisang
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("myneed2.png")" class="img-thumbnail" alt="Foto" />
            <div>My Needs</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Mandi ayo mandi</i></h3>
            Mandi ayo mandi
            <br />   ayo lekas mandi
            <br />   pakai sabun wangi 
            <br />   tak lupa gosok gigi
            <br />   byur sik sik byur sik 
            <br />   byur sik sik byur 
            <br />   byur sik sik byur sik 
            <br />   byur sik sik byur
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
