@using APPBASE.Svcutil

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Good Morning</i></h3>
            Good morning 2x
            <br />   nice to see your smiling face
            <br />   good morning 2x to you and to you
            <br />   hello mommy hello daddy hello children hello friends
            <br />   good morning 2x to you and to you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Good bye to you</i></h3>
            Good bye to you
            <br />   Good bye to you
            <br />   Good bye dear children
            <br />   Good bye to you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Lingkaran kecil lingkaran besar</i></h3>
            Lingkaran kecil
            <br />  Lingkaran kecil
            <br />  lingkaran besar
            <br />  ayo pegangan 
            <br />  ayo pegangan 
            <br />  buat lingkaran
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("itsme.png")" class="img-thumbnail" alt="Foto" />
            <div>It's me</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Dua mata saya</i></h3>
            dua mata saya hidung saya satu
            <br />  dua kaki saya pakai sepatu baru
            <br />  dua telinga saya yang kiri dan kanan
            <br />  satu mulut saya tidak berhenti makan
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Finger song</i></h3>
            Where is thumbkin.. Where is thumbkin 
            <br />   here I am..  here I am
            <br />   how are you this morning 
            <br />   very well I thank you
            <br />   run away..   run away
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Jalan-jalan</i></h3>
            Jalan-jalan… lompat-lompat
            <br />  lari-lari… lari-lari… 
            <br />  lompat-lompat lagi.. lari-lari lagi
            <br />  berhenti.. berhenti..
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Mandi Pagi</i></h3>
            mandi ayo mandi
            <br />  ayo lekas mandi
            <br />  pakai sabun wangi
            <br />  tak lupa gosok gigi
            <br />  byur sik sik.. byur sik.. byur sik sik.. byur..
            <br />  byur sik sik.. byur sik.. byur sik sik.. byur..
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("asyknyaramadhan.png")" class="img-thumbnail" alt="Foto" />
            <div>Asyiknya Ramadhan</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Menjaga kalbu</i></h3>
            Hati-hati gunakan matamu klip klop
            <br />   hati-hati gunakan mulutmu sstt…sstt..
            <br />   Allah maha mendengar semua perkataanmu
            <br />   hati-hati gunakan kalbumu
            <br />   dag... dig.. dug 
            <br />   dag... dig.. dug 
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Tuhanku adalah Allah</i></h3>
            Tuhanku adalah Allah agamaku Islam
            <br />  Nabiku nabi Muhammad kitabku Al Quran
            <br />  ya.. ya.. ya.. Ya..  Allah Tuhanku
            <br />  ya.. ya.. ya.. Ya..  Islam Agamaku
            <br />  ya.. ya.. ya.. Ya..  Muhammad Nabiku
            <br />  ya.. ya.. ya.. Ya..  Al Quran Kitabku
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("animal.png")" class="img-thumbnail" alt="Foto" />
            <div>Animal</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Yang ku bisa</i></h3>
            Megal megol seperti bebek
            <br />   lompat seperti kodok
            <br />   terbang seperti burung
            <br />   menggeleser seperti ular
            <br />   lari seperti kuda itu yang ku bisa
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Animal song</i></h3>
            Kucing cat.. anjing dog.. 
            <br />  kupu-kupu butterfly..
            <br />  ikan fish..  bebek duck..
            <br />  tikus itu mouse..
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Kura-kura</i></h3>
            Ini kura-kura ada dalam cangkang
            <br />   ia sayang rumahnya amatlah sayang
            <br />   kepalanya keluar jika ingin makan 
            <br />   lalu masuk kembali jika ingin tidur

        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("color.png")" class="img-thumbnail" alt="Foto" />
            <div>Colour</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->


<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Pelangi</i></h3>
            Pelangi pelangi
            <br />  alangkah indahmu
            <br />  merah kuning hijau dilangit yang biru
            <br />  pelukismu agung siapa gerangan
            <br />  Pelangi pelangi ciptaaan Tuhan
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Balonku</i></h3>
            Balonku ada lima 
            <br />  rupa-rupa warnanya
            <br />  hijau, kuning, kelabu 
            <br />  merah muda dan biru
            <br />  meletus balon hijau doorr…
            <br />  hatiku sangat kacau
            <br />  balonku tinggal empat 
            <br />  ku pegang erat-erat
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("transportation.png")" class="img-thumbnail" alt="Foto" />
            <div>Transportation</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Becak</i></h3>
            Saya mau tamasya berkliling-kliling kota
            <br />  hendak melihat-lihat keramaian yang ada
            <br />  saya panggilkan becak kereta tak berkuda
            <br />  becak becak !..  tolong bawa saya..
            <br />  saya duduk sendiri sambil mengangkat kaki
            <br />  melihat dengan asyik ke kanan dan ke kiri
            <br />  lihat becakku lari bagaikan tak berhenti
            <br />  becak becak !.. Jalan hati hati…
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>The Wheels on the bus</i></h3>
            The wheels on the bus go round and round.. 
            <br />  Round and round.. Round and round 
            <br />  The wheels on the bus go round and round.. 
            <br />  All day long
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Delman</i></h3>
            Pada hari minggu ku turut Ayah ke kota
            <br />  naik delman istimewa ku duduk di muka
            <br />  ku duduk samping pak kusir yang sedang bekerja
            <br />  mengendali kuda supaya baik jalannya
            <br />  hei! Tuk tik tak tik tuk tik tak tik tuk tik tak tik tuk
            <br />  Tuk tik tak tik tuk tik tak suara spatu kuda
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("number.png")" class="img-thumbnail" alt="Foto" />
            <div>Number</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Little Indian</i></h3>
            One little two little three little indian
            <br />   four little five little six little indian
            <br />   seven little eigth little nine little indian
            <br />   ten little indian boys
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Satu satu</i></h3>
            Satu satu aku sayang ibu
            <br />  dua dua juga sayang ayah
            <br />  tiga tiga sayang adik kakak
            <br />  satu dua tiga sayang semuanya
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("shape.png")" class="img-thumbnail" alt="Foto" />
            <div>Shape</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Shape song</i></h3>
            I am a shape now call my name                                                                        
            <br />  I'm round and round and very plain                                                                   
            <br />  so many things are shape like me                                                                                    
            <br />  like a wheel on a bus and a cake for tea                                                                                                     
            <br />  what is my name?  I am a circle                                                                                          
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Topi saya bundar</i></h3>
            Topi saya bundar..  bundar topi saya
            <br />  kalau tidak bundar..  bukan topi saya
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("opposite.png")" class="img-thumbnail" alt="Foto" />
            <div>Opposite</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Up and down</i></h3>
            Up and down and shake.. shake.. shake
            <br />  Up and down and shake.. shake.. shake
            <br />  shake to right and shake to the left                                                                  
            <br />  turn around and shake.. shake.. shake
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Atas bawah</i></h3>
            Atas atas atas
            <br /> bawah bawah bawah
            <br /> Atas atas.. bawah bawah
            <br /> aku tidak lupa
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Ke depan ke belakang</i></h3>
            Ke depan ke belakang ke kiri dan ke kanan
            <br />  Ke depan ke belakang ke kiri dan ke kanan
            <br />  depan belakang kiri lalu kanan
            <br />  depan belakang kiri lalu kanan
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("plant.png")" class="img-thumbnail" alt="Foto" />
            <div>Plant</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Lihat kebunku</i></h3>
            Lihat kebunku penuh dengan bunga
            <br />  ada yang putih dan ada yang merah
            <br />  setiap hari ku simpan semua
            <br />  mawar melati semuanya indah
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Rain Rain Go Away</i></h3>
            Rain rain go away
            <br />    come again another day
            <br />    Little children want to play
            <br />    rain rain go away
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
