@using APPBASE.Svcutil

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Good Morning</i></h3>
            Good morning 2x
            <br />   nice to see your smiling face
            <br />   good morning 2x to you and to you
            <br />   hello mommy hello daddy hello children hello friends
            <br />   good morning 2x to you and to you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Hello how do you do</i></h3>
            Hello… hello… hello
            <br />   hello  how do you do
            <br />   it's nice to be with you
            <br />   and you and you and you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Good bye to you</i></h3>
            Good bye to you 2x
            <br />   Good bye dear children
            <br />   Good bye to you
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>I love you</i></h3>
            I love you 
            <br />   you love me
            <br />   we are happy family
            <br />   with a great big hug 
            <br />   and a kiss from me to you
            <br />   would you say you love me too
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("itsme.png")" class="img-thumbnail" alt="Foto" />
            <div>It's me</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>I Have Two Hands</i></h3>
            I have two hands the left and the rigth
            <br />   hold them up high so clean and brigth
            <br />   clap them softly one  two three
            <br />   clean little hands are good to see
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("akuanaksehat.png")" class="img-thumbnail" alt="Foto" /> <i>Finger song</i></h3>
            Where is thumbkin.. Where is thumbkin
            <br />   here I am.. here I am
            <br />   how are you this morning.. Very well I thank you
            <br />   run away.. run away
            <br />   *Where is pointer 
            <br />   *Where is tall man 
            <br />   *Where is ring man  
            <br />   *Where is pinky
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Lagu jari</i></h3>
            Ini namanya jari jempol, jempol 2x
            <br />   apa kata jari jempol sayang anak sekolah tidak boleh ngompol
            <br />   Ini namanya jari telunjuk, telunjuk 2x
            <br />   apa kata jari telunjuk sayang anak sekolah tidak boleh ngantuk
            <br />   Ini namanya jari tengah, tengah 2x
            <br />   apa kata jari tengah sayang anak sekolah tidak boleh lengah
            <br />   Ini namanya jari manis, manis 2x
            <br />   apa kata jari manis sayang anak sekolah tidak boleh nangis
            <br />   Ini namanya jari kelingking, kelingking 2x
            <br />   apa kata jari kelingking sayang anak sekolah tidak boleh keliling
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("independenceday.png")" class="img-thumbnail" alt="Foto" />
            <div>Independence Day</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Hari merdeka</i></h3>
                tujuh belas agustus tahun empat lima
                <br />   itulah hari kemerdekaan kita
                <br />   hari merdeka nusa dan bangsa
                <br />   hari lahirnya bangsa Indonesia
                <br />   merdeka!
                <br />   sekali merdeka tetap merdeka 
                <br />   selama hayat masih dikandung badan
                <br />   kita tetap setia tetap setia
                <br />   mempertahankan Indonesia
                <br />   kita tetap setia tetap setia
                <br />   membela negara kita
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("indonesiatetapmerdeka.png")" class="img-thumbnail" alt="Foto" /> <i>Indonesia tetap merdeka</i></h3>
                Sorak-sorak bergembira bergembira semua
                <br />   sudah bebas negeri kita Indonesia merdeka
                <br />   Indonesia merdeka
                <br />   Republik Indonesia
                <br />   itulah hak milik kita untuk slama-lamanya
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("culture.png")" class="img-thumbnail" alt="Foto" />
            <div>Culture</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Ibu Kartini</i></h3>
            Ibu kita kartini
            <br />   Putri sejati, putri Indonesia
            <br />   harum namanya
            <br />   Ibu kita kartini
            <br />   pendekar bangsa, pembela kaumnya
            <br />   untuk merdeka
            <br />   wahai ibu kita Kartini
            <br />   putri yang mulia
            <br />   sungguh besar cita-citanya
            <br />   bagi Indonesia
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Gelang si paku gelang</i></h3>
            Gelang si paku gelang
            <br />   gelang si ramai-ramai
            <br />   mari pulang marilah pulang
            <br />   marilah pulang bersama-sama
            <br />   mari pulang marilah pulang
            <br />   marilah pulang bersama-sama
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("asyknyaramadhan.png")" class="img-thumbnail" alt="Foto" />
            <div>Asyiknya Ramadhan</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Rukun Islam yang lima</i></h3>
            Rukun Islam yang lima
            <br />   syahadat, sholat, puasa
            <br />   zakat untuk si papa
            <br />   haji bagi yang kuasa
            <br />   siapa belum sholat
            <br />   siapa belum puasa
            <br />   karna nanti di akhirat
            <br />   Allah pasti melaknat
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Baju baru Alhamdulillah</i></h3>
            baju baru Alhamdulillah
            <br />  tuk dipakai dihari raya
            <br />  tak ada pun atak apa-apa
            <br />  masih ada baju yang lama
            <br />  Sepatu baru Alhamdulillah
            <br />  tuk dipakai di hari raya
            <br />  tak ada pun atak apa-apa
            <br />  masih ada baju yang lama
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Tuhanku adalah Allah</i></h3>
            Tuhanku adalah Allah agamaku Islam
            <br />  nabiku nabi Muhammad kitabku Al Quran
            <br />  ya.. ya.. ya.. ya Allah tuhanku
            <br />  ya.. ya.. ya.. ya Islam agamaku
            <br />  ya.. ya.. ya.. ya Muhammad nabiku
            <br />  ya.. ya.. ya.. ya Al Quran kitabku
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("animal.png")" class="img-thumbnail" alt="Foto" />
            <div>Animal</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Animal song</i></h3>
            Kucing cat anjing dog kupu-kupu butterfly
            <br />  ikan fish bebek duck tikus itu mouse
            <br />  sapi cow ular snake kelinci itu rabbit
            <br />  domba sheep kuda horse gajah elephant
            <br />  burung bird kambing goat ubur-ubur jelly fish
            <br />  semut ant kodok frog nyamuk mosquito
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Yang ku bisa</i></h3>
            Megal megol seperti bebek
            <br />  lompat seperti kodok
            <br />  terbang seperti burung
            <br />  menggeleser seperti ular
            <br />  lari seperti kuda itu yang ku bisa
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Old Mc Donald</i></h3>
            Old Mc Donald has a farm e.. a.. e.. a.. o
            <br />  and in his farm he has some cows e.. a.. e.. a.. o
            <br />  with a moo.. moo.. here moo.. moo.. there
            <br />  here's moo, there's moo
            <br />  everywhere moo.. moo
            <br />  Old Mc Donald has a farm e.. a.. e.. a.. o
            <br />  * ducks, kwek. *pigs, oink
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Itsy bitsy spider</i></h3>
            Itsy bitsy spide climb up the water spout
            <br />  down came the rain and wash the spider out
            <br />  out came the sun and dry up all the rain
            <br />  so the itsy bitsy spider climb up and spout again
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("plant.png")" class="img-thumbnail" alt="Foto" />
            <div>Plant</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Menanam Jagung</i></h3>
            Ayo kawan kita bersama menanam jagung dikebun kita
            <br />  ambil cangkulmu ambil pangkurmu
            <br />  kita bekerja tak jemu-jemu
            <br />  cangkul.. cangkul.. cangkul yang dalam
            <br />  menanam jagung di kebun kita
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Tukang kayu</i></h3>
            Katakan padaku hai tukang kayu
            <br />  bagaimana caranya memotong kayu
            <br />  lihat… lihat wahai anakku
            <br />  beginilah caranya memotong kayu
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("lihatkebunku.png")" class="img-thumbnail" alt="Foto" /> <i>Lihat kebunku</i></h3>
            Lihat kebunku penuh dengan bunga
            <br />  ada yang putih dan ada yang merah
            <br />  setiap hari ku simpan semua
            <br />  mawar melati semuanya indah
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("transportation.png")" class="img-thumbnail" alt="Foto" />
            <div>Transportation</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>The Wheels on the bus</i></h3>
            The wheels on the bus go round and round.. Round and round 2x
            <br />  The wheels on the bus go round and round.. All day long
            <br />  The wiper on the bus go swish swish swish.. Swish swish swish 2x
            <br />  The wiper on the bus go swish swish swish.. All day long
            <br />  The door on the bus go open and shut.. open and shut 2x
            <br />  The door on the bus go open and shut.. All day long
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("keretajerukbali.png")" class="img-thumbnail" alt="Foto" /> <i>Kereta dari jeruk bali</i></h3>
            Lihat ibu keretaku yang baru
            <br />  cukup besar untuk Ayah dan Ibu
            <br />  empat roda buatanku sendiri
            <br />  dari kulit buah jeruk bali
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Becak</i></h3>
            Saya mau tamasya berkliling-kliling kota
            <br />  hendak melihat-lihat keramaian yang ada
            <br />  saya panggilkan becak kereta tak berkuda
            <br />  becak becak !..  tolong bawa saya..
            <br />  saya duduk sendiri sambil mengangkat kaki
            <br />  melihat dengan asyik ke kanan dan ke kiri
            <br />  lihat becakku lari bagaikan tak berhenti
            <br />  becak becak !.. Jalan hati hati…
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Row row your boat</i></h3>
            Row row your boat gently down the streem
            <br />  merrily  merrily  merrily  life is but a dream
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Kapal laut</i></h3>
            Lihatlah sebuah titik jauh di tengah laut
            <br />  makin lama makin jelas bentuk rupanya
            <br />  itulah kapal api yang sedang berlayar 
            <br />  asapnya yang putih mengepul di udara.. Tut tut..
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Delman</i></h3>
            Pada hari minggu ku turut Ayah ke kota
            <br />  naik delman istimewa ku duduk di muka
            <br />  ku duduk samping pak kusir yang sedang bekerja
            <br />  mengendali kuda supaya baik jalannya
            <br />  hei! Tuk tik tak tik tuk tik tak tik tuk tik tak tik tuk
            <br />  Tuk tik tak tik tuk tik tak suara spatu kuda
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("pesawatjet.png")" class="img-thumbnail" alt="Foto" /> <i>Pesawat Jet</i></h3>
            Lihatlah pak lihatlah bu pesawat pemburu
            <br />  pesawat jet pesawat jet di udara tinggi
            <br />  terbang melayang menukik melenggang
            <br />  berguling-guling di atas sangatlah berani
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("communication.png")" class="img-thumbnail" alt="Foto" />
            <div>Communication</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Tukang Pos</i></h3>
            Aku tukang pos rajin sekali                                                                         
            <br />  surat ku bawa naik sepeda                                                                          
            <br />  siapa saja aku datangi                                                                                     
            <br />  tidak ku pilih miskin dan kaya                                                                                                       
            <br />  Kring…kring…. Pos                                                                                              
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("ambilkanbulanbu.png")" class="img-thumbnail" alt="Foto" />
            <div>Earth</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Twinkle Twinkle Little Star</i></h3>
            Twinkle twinkle little star
            <br />  how I wonder what you are
            <br />  up above the world so high                                                                   
            <br />  like a diamond in the sky
            <br />  Twinkle twinkle little star      
            <br />  how I wonder what you are
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Rain Rain Go Away</i></h3>
            Rain rain go away come again another day
            <br />    Little children want to play
            <br />    rain rain go away
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Tik-tik Bunyi Hujan</i></h3>
            tik tik tik bunyi hujan di atas genting
            <br />   airnya turun tidak terkira
            <br />   cobalah tengok dahan dan ranting
            <br />   pohon dan kebun basah semua                               
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("turunkanhujan.png")" class="img-thumbnail" alt="Foto" /> <i>Allah Turunkan Hujan</i></h3>
            Allah turunkan hujan
            <br />  dari gumpalan awan   
            <br />   dari langit yang tinggi   
            <br />  menyirami sluruh bumi        
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Bintang kejora</i></h3>
            Ku pandang langit penuh bintang bertaburan
            <br />   berkelap-kelip seumpama intan berlian
            <br />  tampak sebuah lebih terang cahayanya              
            <br />  itulah bintangku bintang kejora yang indah slalu                     
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <h1 style="text-align:center;">
            <img id="imgSONG_IMG" src="@Url.Content("~/")@Utility_FileUploadDownload.getImage_Song("publicplace.png")" class="img-thumbnail" alt="Foto" />
            <div>Public Places</div>
        </h1>
    </div> <!-- ./col -->
</div> <!-- ./row -->

<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Taman Kanak Kanak</i></h3>
            Taman yang paling indah.. hanya taman kami
            <br />  taman yang paling indah.. hanya taman kami
            <br />  tempat bermain berteman banyak          
            <br />  itulah taman kami.. Taman Kanak Kanak
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Pasar Minggu</i></h3>
            Pepaya, mangga, pisang, jambu
            <br />  dibawa dari pasar minggu
            <br />  disana banyak penjualnya
            <br />  disini banyak pembelinya
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
<div class="row song">
    <div class="col-sm-12 col-md-10">
        <div class="alert alert-warning alert-dismissible">
            <h3><i class="fa fa-music"></i> <i>Desaku yang kucinta</i></h3>
            Desaku yang kucinta.. pujaan hatiku
            <br />  tempat Ayah dan Bunda.. dan handai taulanku
            <br />  tak mudah kulupakan.. tak mudah bercerai
            <br />  selalu ku rindukan.. desaku yang permai
        </div>
    </div> <!-- ./col -->
</div> <!-- ./row -->
