@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-gear"></i> <span>SETTING</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Year")"><i class="fa fa-angle-double-right"></i> Tahun Ajaran</a></li>
            <li><a href="@Url.Action("Details", "BranchHQ")"><i class="fa fa-angle-double-right"></i> Info Kantor Pusat</a></li>
            <li><a href="@Url.Action("Index", "Branch")"><i class="fa fa-angle-double-right"></i> Daftar Cabang</a></li>
            <li><a href="@Url.Action("Index", "Sentra")"><i class="fa fa-angle-double-right"></i> Daftar Sentra</a></li>
            <li><a href="@Url.Action("Index", "Classroom")"><i class="fa fa-angle-double-right"></i> Kelompok Murid</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Daftar Jabatan*</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Daftar Penerimaan*</a></li>

        </ul>
    </li>


