@using APPBASE.Helpers

<!-- 4 = SC	SCHOOL COORDINATOR  -->


<!-- AKADEMIK -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>AKADEMIK</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Callendar")"><i class="fa fa-angle-double-right"></i> Kalender Akademik</a></li>
            <li><a href="@Url.Action("Index", "Theme")"><i class="fa fa-angle-double-right"></i> Tema dan Sub Tema</a></li>
            <li><a href="@Url.Action("Index", "Promised")"><i class="fa fa-angle-double-right"></i> Promised</a></li>
            <li><a href="@Url.Action("Index", "Skm")"><i class="fa fa-angle-double-right"></i> RPPM</a></li>
            <li><a href="@Url.Action("Index", "Skh")"><i class="fa fa-angle-double-right"></i> RPPH</a></li>
            <li><a href="@Url.Action("Index", "LHStudent")"><i class="fa fa-angle-double-right"></i> Laporan Harian Siswa</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Laporan Semester*</a></li>
        </ul>
    </li>

<!-- ADMINISTRASI -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-paperclip"></i> <span>ADMINISTRASI</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Student")"><i class="fa fa-angle-double-right"></i> Data Siswa</a></li>

            <li><a href="@Url.Action("Index", "Employee")"><i class="fa fa-angle-double-right"></i> Data Guru dan Pegawai</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Penerimaan - SPP*</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Penerimaan - Tabungan*</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Penerimaan - Murid Baru*</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Penerimaan - Kegiatan*</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Penerimaan - lain lain*</a></li>
            <li><a href="@Url.Action("Index", "Announcement")"><i class="fa fa-angle-double-right"></i> Pengumuman</a></li>
            <li><a href="@Url.Action("Index", "Photogallery")"><i class="fa fa-angle-double-right"></i> Galeri Foto</a></li>
        </ul>
    </li>

<!-- INFO SEKOLAH -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-lightbulb-o"></i> <span>INFO SEKOLAH</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Tatib")"><i class="fa fa-angle-double-right"></i> Tata Tertib Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Song")"><i class="fa fa-angle-double-right"></i> Lagu lagu</a></li>
            <li><a href="@Url.Action("Index", "Doa")"><i class="fa fa-angle-double-right"></i> Daftar Doa</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Daftar Hadist*</a></li>
        </ul>
    </li>

