@using APPBASE.Helpers


<!-- 3 = PC	PROGRAM COORDINATOR  -->

<!-- AKADEMIK -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>AKADEMIK</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Callendar")"><i class="fa fa-angle-double-right"></i> Kalender Akademik</a></li>
            <li><a href="@Url.Action("Index", "Theme")"><i class="fa fa-angle-double-right"></i> Tema dan Sub Tema</a></li>
            <li><a href="@Url.Action("Index", "Promised")"><i class="fa fa-angle-double-right"></i> Promised</a></li>
            <li><a href="@Url.Action("Index", "Skm")"><i class="fa fa-angle-double-right"></i> RPPM</a></li>
            <li><a href="@Url.Action("Index", "Skh")"><i class="fa fa-angle-double-right"></i> RPPH</a></li>
            <li><a href="@Url.Action("Index", "LHStudent")"><i class="fa fa-angle-double-right"></i> Laporan Harian Siswa</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Laporan Semester*</a></li>
        </ul>
    </li>

<!-- INFO SEKOLAH -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-lightbulb-o"></i> <span>INFO SEKOLAH</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Aboutus")"><i class="fa fa-angle-double-right"></i> Tentang Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Tatib")"><i class="fa fa-angle-double-right"></i> Tata Tertib Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Song")"><i class="fa fa-angle-double-right"></i> Lagu lagu</a></li>
            <li><a href="@Url.Action("Index", "Doa")"><i class="fa fa-angle-double-right"></i> Daftar Doa</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Daftar Hadist*</a></li>
        </ul>
    </li>

<!-- SETTING -->
    <li><a href="@Url.Action("Index", "Branch")"><i class="fa fa-angle-double-right"></i> Daftar Cabang</a></li>
    <li><a href="@Url.Action("Index", "Year")"><i class="fa fa-angle-double-right"></i> Tahun Ajaran</a></li>
    <li><a href="@Url.Action("Index", "Sentra")"><i class="fa fa-angle-double-right"></i> Daftar Sentra</a></li>
    <li><a href="@Url.Action("Index", "Classroom")"><i class="fa fa-angle-double-right"></i> Kelompok Murid</a></li>

<!-- ADMINISTRASI -->
    <li><a href="@Url.Action("Index", "Announcement")"><i class="fa fa-angle-double-right"></i> Pengumuman</a></li>
