@model APPBASE.Models.SkhVM
@using APPBASE.Helpers
@using APPBASE.Svcbiz

@{string vsErrClass = "";}
@{string vsDisableButton = "";}
@{Boolean isShowDropdown = true;}
@{string vsReadonlyTextboxKey = "Readonly";}
@{string vsReadonlyTextbox = "";}
@if (ViewBag.CRUD_type == hlpFlags_CRUDOption.CREATE) { vsReadonlyTextboxKey = ""; }
@if ((ViewBag.CRUD_type == hlpFlags_CRUDOption.VIEW) || (ViewBag.CRUD_type == hlpFlags_CRUDOption.DELETE)) { vsDisableButton = "disabled"; vsReadonlyTextbox = "Readonly"; isShowDropdown = false; }
@{string vsDateFormat = "'alias': 'dd/mm/yyyy'";}

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_YEAR_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_YEAR_ID">Pilih Tahun Ajaran</label>
                <select id="FILTER_YEAR_ID" name="FILTER_YEAR_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.YEAR)
                    {

                        if (Model.FILTER_YEAR_ID == item.ID) {<option selected value="@item.ID">@item.YEAR_DESC</option> }
                        else {<option value="@item.ID">@item.YEAR_DESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["FILTER_YEAR_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_YEAR_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_YEAR_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_YEAR_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_SEMESTER_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_SEMESTER_ID">Pilih Semester</label>
                <select id="FILTER_SEMESTER_ID" name="FILTER_SEMESTER_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.SEMESTER)
                    {

                        if (Model.FILTER_SEMESTER_ID == item.ID) {<option selected value="@item.ID">@item.SEMESTER_DESC</option> }
                        else {<option value="@item.ID">@item.SEMESTER_DESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["FILTER_SEMESTER_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_SEMESTER_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_SEMESTER_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_SEMESTER_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_CLASSTYPE_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_CLASSTYPE_ID">Pilih Kelas</label>
                <select id="FILTER_CLASSTYPE_ID" name="FILTER_CLASSTYPE_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.CLASSTYPE)
                    {

                        if (Model.FILTER_CLASSTYPE_ID == item.ID) {<option selected value="@item.ID">@item.CLASSTYPE_DESC</option> }
                        else {<option value="@item.ID">@item.CLASSTYPE_DESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["FILTER_CLASSTYPE_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_CLASSTYPE_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_CLASSTYPE_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_CLASSTYPE_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_THEME_ID0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_THEME_ID">Pilih Tema</label>
                <select id="FILTER_THEME_ID" name="FILTER_THEME_ID" class="form-control select2" data-placeholder="" style="width: 100%;" @vsReadonlyTextbox>
                    <option selected value=""></option>
                    @foreach (var item in ViewBag.THEME)
                    {

                        if (Model.FILTER_THEME_ID == item.ID) {<option selected value="@item.ID">@item.LOV_DESC</option> }
                        else {<option value="@item.ID">@item.LOV_DESC</option> }
                    }
                </select>

            @if (ViewData.ModelState["FILTER_THEME_ID1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_THEME_ID1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_THEME_ID2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_THEME_ID2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->


<hr />

<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_WEEKNUM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_WEEKNUM">Minggu ke</label>
            <input type="number" id="FILTER_WEEKNUM" name="FILTER_WEEKNUM" value="@Html.DisplayFor(model => model.FILTER_WEEKNUM)" class="form-control data-mask-integer"/>

            @if (ViewData.ModelState["FILTER_WEEKNUM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_WEEKNUM1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_WEEKNUM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_WEEKNUM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-xs-12">
        @if (ViewData.ModelState["FILTER_DATEFROM0"] != null) { vsErrClass = "has-error"; } else { vsErrClass = ""; }
        <div class="form-group @vsErrClass">
            <label for="FILTER_DATEFROM">Tanggal</label>
            <input type="text" id="FILTER_DATEFROM" name="FILTER_DATEFROM" value="@Html.DisplayFor(model => model.FILTER_DATEFROM)" class="form-control" data-inputmask="@vsDateFormat" data-mask />

            
            @if (ViewData.ModelState["FILTER_DATEFROM1"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_DATEFROM1")
                    </label>
            }
            @if (ViewData.ModelState["FILTER_DATEFROM2"] != null)
            {
                    <label class="control-label" for="inputError">
                    <i class="fa fa-times-circle-o"></i> @Html.ValidationMessage("FILTER_DATEFROM2")
                    </label>
            }
        </div> <!-- /.form-group -->
    </div> <!-- /.col-xs-12 -->
</div><!-- /.row -->
