@using APPBASE.Helpers

    <li class="treeview">
        <a href="#">
            <i class="fa fa-bars"></i> <span>AKADEMIK</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="@Url.Action("Index", "Basicmaterial")"><i class="fa fa-angle-double-right"></i> Materi Dasar</a></li>
            <li><a href="@Url.Action("Index", "Theme")"><i class="fa fa-angle-double-right"></i> Tema</a></li>
            <li><a href="@Url.Action("Index", "Promised")"><i class="fa fa-angle-double-right"></i> Promised</a></li>
            <li style="display:none;"><a href="@Url.Action("Index", "Callendar")"><i class="fa fa-angle-double-right"></i> Kalender Akademik</a></li>
            <li><a href="@Url.Action("Index", "LHStudent")"><i class="fa fa-angle-double-right"></i> Laporan Harian Siswa</a></li>
            <li><a href="@Url.Action("Indexreport", "LHStudent")"><i class="fa fa-angle-double-right"></i> Daftar LHS</a></li>
            <li><a href="@Url.Action("ErrorDEV", "Error")"><i class="fa fa-angle-double-right"></i> Laporan Semester</a></li>
            <li><a href="@Url.Action("Index", "Skm")"><i class="fa fa-angle-double-right"></i> RPPM</a></li>
            <li><a href="@Url.Action("Index", "Skh")"><i class="fa fa-angle-double-right"></i> RPPH</a></li>
            <li><a href="@Url.Action("Index", "Tatib")"><i class="fa fa-angle-double-right"></i> Tata Tertib Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Activity")"><i class="fa fa-angle-double-right"></i> Kegiatan Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Announcement")"><i class="fa fa-angle-double-right"></i> Pengumuman Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Suggest")"><i class="fa fa-angle-double-right"></i> Saran</a></li>
            <li><a href="@Url.Action("Index", "Warning")"><i class="fa fa-angle-double-right"></i> Teguran</a></li>
            <li><a href="@Url.Action("Index", "Photogallery")"><i class="fa fa-angle-double-right"></i> Foto Sekolah</a></li>
        </ul>
    </li>
