@using APPBASE.Helpers

            <li style="display:none;"><a href="@Url.Action("Index", "Callendar")"><i class="fa fa-angle-double-right"></i> Kalender Akademik</a></li>
            <li><a href="@Url.Action("Index", "Song")"><i class="fa fa-angle-double-right"></i> Songs</a></li>
            <li><a href="@Url.Action("Index", "Doa")"><i class="fa fa-angle-double-right"></i> Doa Harian</a></li>
            <li><a href="@Url.Action("Index", "Tatib")"><i class="fa fa-angle-double-right"></i> Tata Tertib Sekolah</a></li>
            <li><a href="@Url.Action("Index", "Photogallery")"><i class="fa fa-angle-double-right"></i> Galeri</a></li>
            <li><a href="@Url.Action("Classmate", "Student")"><i class="fa fa-angle-double-right"></i> Classmates</a></li>
